<div class="container-header">
  <h1 class="logo"></h1>

  <nav>
    <ul>
      <li><a href="/">Login</a></li>
      <li><a href="/profile/">Profil</a></li>
      <li><a href="#">Riwayat</a></li>    
      <li><a href="/halamanStatus/">Status</a></li>
      <li><a href="/teman/">Teman</a></li>
    </ul>
  </nav>
</div>
