{% extends "layout/base.html" %}
{% block content %}

<section id="fh5co-home" data-section="home" style="background-image: url(https://cdn-images-1.medium.com/max/2000/1*X0YAhnDmAmUXec83Y1IDZA.jpeg);" data-stellar-background-ratio="0.5">
  <div class="gradient"></div>
  <div class="container">
    <div class="text-wrap">
      <div class="text-inner">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
              {% if 'user_login' in request.session %}
              {% else %}
            <h1 class="to-animate">Login disini</h1>
            {% endif %}
            <div class="call-to-action">
                {% if 'user_login' in request.session %}
                
                <div class="demo to-animate">{% include "../partials/header.html" %}</div>
                <a href="/logout" class="demo to-animate">Logout</a>
                
                {% else %}
              <a href="/login" id="login-mhs" class="demo to-animate">Login Mahasiswa</a>
              <a href="#" class="download to-animate">Login Perusahaan</a>
              {% endif %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}