{% extends "layout/base.html" %}
{% block content %}
<section id="fh5co-home" data-section="home" style="background-image: url(https://cdn-images-1.medium.com/max/2000/1*X0YAhnDmAmUXec83Y1IDZA.jpeg);" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
      <div class="text-wrap">
        <div class="text-inner">
                <h1> Halaman Login </h1>
                <p class="text-info"> Gunakan <b> akun SSO </b> untuk login </p>
           
                <div class="form">
                        <form class="login-form" action="{% url 'halamanLogin:auth_login' %}" method="POST">
                            {% csrf_token %}
                            <p>
                                
                                <input type="text" placeholder = "username" id="username" name="username" required>
                            </p>
                            <p>
                                <input type="password" placeholder="password" id="password" name="password" required>
                            </p>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                        </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    
{% endblock %}
