{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="description" content="Halaman Riwayat TP 2">
   <meta name="author" content="{{author}}">
   <!-- bootstrap csss -->
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">          
   <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/riwayat.css' %}">

   <title>
       {% block title %} Halaman Riwayat {% endblock %}
   </title>
</head>
<body>
  <header>
    {% include "halamanRiwayat/partials/header.html" %}
  </header>
   <content>
           {% block content %}

           {% endblock %}
   </content>
  
   <!-- Jquery n Bootstrap Script -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   {% block javascript %}
   {% endblock %}
</body>
</html>
