{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Style -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">


	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

   <!-- end of home cssss -->




   <title>
       {% block title %} Halaman Login {% endblock %}
   </title>
</head>
<body>
	
  
  
           {% block content %}
               <!-- content goes here -->
           {% endblock %}
  
   <footer>

   </footer>
   <!-- Home javascript -->
   
<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- jQuery Easing -->
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<!-- Stellar Parallax -->
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<!-- Owl Carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- Google Map -->
<!-- Main JS (Do not remove) -->
<script src="{% static 'js/main.js' %}"></script>

<!-- end of Home js -->

</body>
</html>
