{% extends "halamanRiwayat/layout/base.html"%}
{% block content %}

<div class="container">
  <table class="table table-striped table-bordered table-hover" id="tabel">
    <thead>
      <th> Nama Matakuliah </th>
      <th> Nilai </th>
    </thead>
    <form id="form">
  <label for="field_npm">Tampilkan nilai?</label>
  <br>
  <input type="radio" name="show" value="yes" checked onclick="tampilkanTabel('yes')">Ya<br>
  <input type="radio" name="show" value="no" onclick="tampilkanTabel('no')">Tidak<br>
  </form>
  </table>
</div>
{% endblock %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script rel="stylesheet" type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
<script rel="stylesheet" type="text/javascript" src="../../static/js/jquery.dataTables.min.js"></script>
<script rel="stylesheet" type="text/javascript" src="../../static/js/dataTables.bootstrap.min.js"></script>
<script>
var tampilkanTabel = function (bol){
  $.ajax({
    method : "GET",
    url : "https://private-e52a5-ppw2017.apiary-mock.com/riwayat",
    success : function (mahasiswa) {
        $('#tabel').html('<tr>' +
          '<th> Nama Matakuliah </th>' +
          '<th> Nilai </th>' +
        '</tr>')
        for (var i = 0; i < mahasiswa.length; i++) {
          var temp = mahasiswa[i].nilai
          if (bol === 'no'){
            temp = 'Dirahasiakan'
          }
          $('#tabel').append(
            '<tr>' +
              '<td>' + mahasiswa[i].kelas.nm_mk_cl.nm_mk + '</td>' +
              '<td>' + temp + '</td>' +
            '</tr>'
          )
        }
    },
    error : function (error) {
      console.log(error)
    }
  });
}

tampilkanTabel('yes')

  </script>

{% endblock %}
