{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/cari_mahasiswa.css' %}" />
	<!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">
	
	
</head>
<body>
	<header>
        {% include "cari_mahasiswa/partials/header.html" %}
    </header>
	<content>

		{% block content %}
                <!-- content goes here -->
        {% endblock %}

   	</content>
   	 <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "cari_mahasiswa/partials/footer.html" %}
        {% endblock %}
    </footer>


</body>
</html>