{% extends "halaman_profile/layout/base.html" %}

{% block content %}
<div class="container">
<div id="b1">
	<img></img>
	<button class="btn btn-primary btn-info btn-lg" onclick="simpanData()">Simpan</button>
	<a class="btn btn-primary btn-danger btn-lg" href="../">Keluar</a>
</div>

<div class="linkedin">

</div>

<br>
<div class="select">
<div class="keahlian"> KEAHLIAN : 
<select class="program">
	<option>JAVA</option>
	<option>C#</option>
	<option>C++</option>
	<option>Python</option>
	<option>Erlang</option>
	<option>Kotlin</option>
</select>
</div>

<br>
<div> LEVEL : 
<select class="level">
	<option>Beginner</option>
	<option>Intermediate</option>
	<option>Advanced</option>
	<option>Expert</option>
	<option>Legend</option>
</select>
</div>

<hr>
<script type="in/Login"></script>
</div>
</div>

<div id="profileData" style="display: block;">
</div>

<script type="text/javascript" src="//platform.linkedin.com/in.js">
	api_key: 81vxovqkrgmm5v
    authorize: true
    onLoad: onLinkedInLoad
	scope: r_basicprofile r_emailaddress
</script>
{% endblock %}