{% extends "halaman_profile/layout/base.html" %}

{% block content %}
<a class="btn btn-primary btn-info btn-lg" href="{% url "profile:edit" %}" id="editP">EDIT PROFILE</a>

<div class="profil">
	<h3>Nama : {{user.name}} </h3>
	<h3>NPM : {{npm}} </h3>
	<h3>Keahlian : {{user.keahlian}} </h3>
	<h3>Email : {{user.email}} </h3>
	<h3>Profile : {{user.linkedin}}</h3>
</div>

{% endblock %}