
{% extends "halaman_profile/layout/base.html" %}

{% block content %}

<div class="container">
                    
      

<div>
    <h2>Welcome,</h2>
    <h1 style="margin-bottom:30px">{{name}}</h1>
    <div class="info" style="display:flex">
        <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png" width="15%" height="15%">
        <div class="tombol">
            <button class="btn btn-lg btn-block btn-info" >Lihat Forum</button>
            <a href="/mahasiswa/edit/" class="btn btn-lg btn-block btn-info" >Edit Profile</button>
            <a href="/mahasiswa/custom_auth/logout/" class="btn btn-lg btn-block btn-info" onclick="return confirm('Keluar?')">
            Logout </a>
        </div>
        <div class="status">
            <h1> 0 </h1>
            <h2> Status </h2>
        </div>
    </div>
</div>

<br><br>

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist" style="border-radius:100px;">
        <li role="presentation" class="active">
            <a class="tabs" href="#profile" aria-controls="home" role="tab" data-toggle="tab"> Profile </a>
        </li>
        <li role="presentation">
            <a class="tabs" href="#history" aria-controls="settings" role="tab" data-toggle="tab"> History </a>
        </li>
        <li role="presentation">
            <a class="tabs" href="#status" aria-controls="settings" role="tab" data-toggle="tab"> Status </a>
        </li>
        <li role="presentation">
            <a class="tabs" href="#friends" aria-controls="settings" role="tab" data-toggle="tab"> Friends </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="profile">
            <div class="panel panel-info">
				<div class="panel-body">
					{% include "halaman_profile/profile.html" %}
				</div>
			</div>

        </div>
		<div role="tabpanel" class="tab-pane fade" id="history">
			<div class="panel panel-info">
				<div class="panel-body">
					
				</div>
			</div>
		</div>
		
		<div role="tabpanel" class="tab-pane fade" id="status">
			<div class="panel panel-info">
				<div class="panel-body">
				</div>

			</div>
		</div>
		
		<div role="tabpanel" class="tab-pane fade" id="friends">
			<div class="panel panel-info">
				<div class="panel-body">
					{% include "cari_mahasiswa/cari_teman.html" %}
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}