body {
  font-family: 'Montserrat';
  background-color: white;
}

.profil{
	margin-left:20%;
	margin-top:5%;
}

.select{
	margin-left:10%;
}

p{
	font-size:15px;
}

div #b1{
	margin-left:45%;
}

#editP{
	margin-left: 43%;
	margin-top: 40px;
}

#profileData{
	margin-left:10%;
	margin-top:5%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: center;
  padding : 0px 28%;
  padding-bottom: 15px;
  padding-top: -5px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 23px;

  position: relative;
}

nav a:hover {
  color: #000;
  text-decoration: none;    
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-style: bold;
}

.container-header {
    width: 80%;
    margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.container-header .logo {
  float: left;
  padding: 10px 0;
}

.container-header nav {
  float: center;
  padding : 0px 28%;
  padding-bottom: 15px;
  padding-top: -5px;
}

.container-header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container-header nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 23px;

  position: relative;
}

.container-header nav a:hover {
  color: #000;
  text-decoration: none;    
}

.container-header nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.container-header nav a:hover::before {
  width: 100%;
}

.container-header nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-style: bold;
}
