{% extends "cari_mahasiswa/layout/base.html" %}

{% block content %}
<title>Find Yours</title>
<p><br/></p>
    <div class="container">
      <h1>User Table</h1>
      <table class="table table-striped table-bordered table-hover" id="mydata">
       <thead>
         <tr>
           <th>NPM</th>
           <th>Name</th>
           <th>Email</th>
           <th>Phone</th>
           <th>Address</th>
         </tr>
       </thead> 
       <tfoot>
        <tr>
           <th>NPM</th>
           <th>Name</th>
           <th>Email</th>
           <th>Phone</th>
           <th>Address</th>
         </tr>
       </tfoot>
       <tbody>
         <tr>
           <td>1606917954</td><td>Usamah N</td><td>usamah1707@gmail.com</td><td>085888581310</td><td>Bandung</td>
         </tr>
         <tr>
           <td>1606913212</td><td>Bangkong</td><td>asdasda@gmail.com</td><td>9312313214</td><td>Badung</td>
         </tr>
         <tr>
           <td>1606934123</td><td>Gabriel</td><td>duaribu@gmail.com</td><td>312315151</td><td>Surabaya</td>
         </tr>
         <tr>
           <td>1606323141</td><td>Dude Perfect</td><td>yahoo@gmail.com</td><td>31313231842</td><td>Bengkulu</td>
         </tr>
         <tr>
           <td>1606214123</td><td>Susah Bet</td><td>ymail@gmail.com</td><td>098123131321</td><td>Depok</td>
         </tr>
         <tr>
           <td>1606734231</td><td>Lolol Sasasasa</td><td>ui_ac_id@gmail.com</td><td>2315123213121</td><td>Jakarta</td>
         </tr>
         <tr>
           <td>1606932122</td><td>Cakacang</td><td>dude23131@gmail.com</td><td>6213213131</td><td>Jakarta</td>
         </tr>
         <tr>
           <td>1606653231</td><td>Omg sasasa</td><td>waduhsuhuhu@gmail.com</td><td>123125123141</td><td>Cimahi</td>
         </tr>
         <tr>
           <td>1606125512</td><td>Sementara aja</td><td>susah3145dansementara@gmail.com</td><td>85313132131</td><td>Bogor</td>
         </tr>
         <tr>
           <td>1606125512</td><td>Seemen</td><td>susahdansem312entara@gmail.com</td><td>8312132131</td><td>Bogor</td>
         </tr>
         <tr>
           <td>1606321512</td><td>tara aja</td><td>susahda312nsementara@gmail.com</td><td>85365432131</td><td>Bogor</td>
         </tr>
         <tr>
           <td>1606124232</td><td>Semera aja</td><td>susahdanseme312ntara@gmail.com</td><td>342342432432</td><td>Bogor</td>
         </tr>
         <tr>
           <td>1606127564</td><td>Ssadsaara aja</td><td>susahdadasdansementara@gmail.com</td><td>5234243211</td><td>Bogor</td>
         </tr>
         <tr>
           <td>1606125512</td><td>sarada aja</td><td>susahdansement312ara@gmail.com</td><td>315313211</td><td>Bogor</td>
         </tr>
         <tr>
           <td>1606183323</td><td>duahduhaushda aja</td><td>susahda312nsementara@gmail.com</td><td>312315123231</td><td>Bogor</td>
         </tr>
         <tr>
           <td>1603215223</td><td>duudhduhuh aja</td><td>susah31dansementara@gmail.com</td><td>3123155677</td><td>Bogor</td>
         </tr>
         <tr>
           <td>1606128312</td><td>dudddde aja</td><td>susahdans31ementara@gmail.com</td><td>9575695677</td><td>Bogor</td>
         </tr>
         <tr>
           <td>1606124412</td><td>omaigat aja</td><td>susahd31ansementara@gmail.com</td><td>06845645645</td><td>Bogor</td>
         </tr>
         <tr>
           <td>1606112312</td><td>dota aja</td><td>susahdansem1entara@gmail.com</td><td>085345834535</td><td>Bogor</td>
         </tr>
         <tr>
           <td>1707125512</td><td>Jugger aja</td><td>susahdanse32mentara@gmail.com</td><td>0854234132131</td><td>Bogor</td>
         </tr>
         <tr>
           <td>1502115512</td><td>Outworld aja</td><td>susahdasadnsementara@gmail.com</td><td>0853312313131</td><td>Bogor</td>
         </tr>
         <tr>
           <td>1796125512</td><td>Lina aja</td><td>susahdans31ementara@gmail.com</td><td>844514132131</td><td>Bogor</td>
         </tr>
         <tr>
           <td>1606312512</td><td>Luna aja</td><td>susahdan1sementara@gmail.com</td><td>855555552131</td><td>Bogor</td>
         </tr>
         <tr>
           <td>1606129273</td><td>Riki aja</td><td>susahda41nsementara@gmail.com</td><td>853555555131</td><td>Bogor</td>
         </tr>

       </tbody>



      </table>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script rel="stylesheet" type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
    <script rel="stylesheet" type="text/javascript" src="../../static/js/jquery.dataTables.min.js"></script>
    <script rel="stylesheet" type="text/javascript" src="../../static/js/dataTables.bootstrap.min.js"></script>
    <script>
      $('#mydata').dataTable({
        language: {searchPlaceholder: "write any keyword"},

        "lengthMenu": [ [5], [5] ],
        
        "oLanguage": {
                      "sEmptyTable": "No data available in table",
                      "sInfo": "Ada _TOTAL_ orang yang bisa dilihat (_START_ dari _END_)",
                      "sInfoEmpty": "Tidak ada pengguna yang dapat ditampilkan",
                      "sLengthMenu": 'Tampilkan <select>'+
                                    '<option value="5">5</option>'+
                                    '<option value="10">10</option>'+
                                    '<option value="15">15</option>'+
                                    '<option value="20">20</option>'+
                                    '<option value="-1">All</option>'+
                                    '</select> orang',
                      }
      });

    </script>
{% endblock %}
